body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.hero-section {
  text-align: center;
}

.task-item {
  border-radius: 8px;
  margin: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.isComplete {
  background-color: #b1f6a8;
  color: white;
}

.isIncomplete {
  background-color: #ff8686;
  color: white;
}

.container {
  width: 100%;
  background-color: #f5f4ef;
  height: auto;
  min-height: 500px;
  width: 700px;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

.create-task-form {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.messages {
  margin: 10px;
}

.btn-toggle {
  margin-right: 5px !important;
}
